<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="traceLogId" converterClass="com.jdkcc.ts.common.utils.TraceLogIdConverter"/>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%traceLogId] %-5level %logger{10} [%file : %line] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/sheshay.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/sheshay.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] [%traceLogId] %-5level %logger{36} [%file : %line] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.jdkcc.ts" level="DEBUG" />

	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>

</configuration>